// spacing
$spacing-normal: 1rem;
$spacing-small: 0.7rem;
$spacing-tiny: 0.5rem;

// font-size
$font-size-normal: 1rem; // 16px
$font-size-small: 0.875rem; // 14px
$font-size-smaller: 0.625rem; // 10px

// shadows
$box-shadow-normal: 0 1px 10px rgba(0, 0, 0, 0.15);

// colors
$color-orange: #ffa323;
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #5393ff;
$color-blue-hover: #2979ff;
$color-red: #ff0537;
